{% extends "main.html" %}
{% load static %}
{% block content %}
<style>
.add-btn,.war{
	margin:10px;
}
</style>
<a  class="btn btn-outline-dark" href="{% url 'store' %}" style="margin:5px;">&#x2190; Continue Shopping</a>
<br>
<hr>
<div class="row">
{% for i in i %}
<center>
<h1 >{{i.cat_name}}</h1>
</center>
<hr>
	<div class="col-lg-4" style="margin:2px;">
	{% if i.image %}
	<img class="thumbnail " src="{{i.image.url}}">
	{% else %}
		<img class="thumbnail" src="static/images/place.jpeg">
	{% endif %}
		<div class="box-element product ">
		<h6><strong>{{i.name}}</strong></h6>
		<span class="badge text-bg-warning war">{{i.cat}}</span>
		<hr>
		<button  class="btn btn-outline-secondary add-btn update-cart" data-product={{i.id}} data-action="add"  id="add" >Add to Cart</button>
		<a class="btn btn-outline-success" href="{% url 'view_det' i.name%}">View</a>
		<h4 style="display: inline-block; float: right;"><strong>{{i.price}}$</strong></h4>
		</div>
	</div>
{% endfor %} 

</div>
<scripts src="{% static 'js/store.js' %}">

</scripts>
{% endblock content %}
